<!-- your html code here -->

<section id="contact" class="py-5 text-black">
    <div class="container">
        <h2 class="display-4  mb-5">Contact</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo doloribus doloremque qui asperiores placeat
            cupiditate esse sint necessitatibus eum nulla, a aperiam! Sit laboriosam voluptas omnis impedit, minus nemo
            non.</p>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="p-5 bg-white border rounded shadow-sm">

                    <form>

                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="YourMessage" class="col-sm-2 col-form-label">Your Message</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Enviar
                                Mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>