<div class="container d-flex align-items-center justify-content-center p-5">
  <div class="row">
    <div class="col-2 object-fit-scale">
        <div class="image rounded-circle justify-content-end align-items-end w-100 h-100 overflow-hidden object-fit-scale">
            <img src="assets/img/2.jpg">
        </div>
    </div>
    <div class="col-10">
        <div class="text m-start-5 h1">
            <h1 font-weight-bold>The Second Heading <span style="color: grey;"> Is Pretty Cool Too</span></h1>
            <p text-muted>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
  </div>